{% extends 'base.html' %}
{% block content %}
<main class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="text-center">
                <h1 class="d-flex card card-body bg-success bg-gradient text-white text-emphasis-primary">Servicios de Insumo</h1>
            </div>
            <div>
                <ul class="list-group">
                    {% for trip in trips %}
                        <li class="card card-body mb-1">
                            <h3>Folio: {{ trip.folio }}</h3>
                            <p>Semana: {{ trip.week }}  Dia: {{ trip.day_assignment}} </p>
                            <p>Unidad: {{ trip.truck }} Proveedor:{{trip.port_supplier}}</p>
    
                            <div class="d-flex justify-content-start">
                                <a href="{% url 'supplie_billing' trip.id_serv %}" class="btn btn-dark">
                                        Actualizar datos
                                </a>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</main>
{% endblock  %}