{% extends 'base.html' %}
{% block content %}
<main>
    <div class="row">
        <div class="text-center col-md-6 offset-md-3">
            <h1 class="d-flex card card-body bg-success bg-gradient text-white text-emphasis-primary">Facturacion de viaje {{trip.folio}}</h1>
        </div>
        <div class="card col-md-6 offset-md-3 d-flex justify-content-center">
            <form  method="POST">
                {{error}}
                {% csrf_token %}
                <div class="col-md-6 offset-md-3">
                    <div class="row">
                        <p class="mb-1">Número de Factura: </p>
                        {{ form.fact_cp }}
                    </div>
                    <div class="row">
                        <p class="mb-1">Fecha de factura: </p>
                        {{ form.date_fact }}
                    </div>
                    <div class="row">
                        <p class="mb-1">Monto de la factura: </p>
                        {{ form.amount }}
                    </div>
                    <div class="row">
                        <p class="mb-1">Precio unidatio: </p>
                        {{ form.unit_price }}
                    </div>
                </div>
                <br>
                <div class="text-center">
                    <button class="btn btn-success">Ingresar datos</button>
                </div>
                <br>
            </form>
        </div>
    </div>
</main>

{% endblock %}