{% extends 'base.html' %}
{% block content %}
<style>
    .custom-table {
        border-collapse: collapse;
        width: 100%;
    }
    
    .custom-table th, .custom-table td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }
    
    .custom-table th {
        background-color: #4CAF50;
        color: white;
        font-size: 14px;
    }
    
    .custom-table tr:nth-child(even) {
        background-color: #f2f2f2;
    }
    
    .custom-table tr:hover {
        background-color: #ddd;
    }
    
    .custom-table tr:nth-child(even):hover {
        background-color: #ddd;
    }
</style>


<main>
    <div class="container">
        <div class="text-center">
            <h2 class="d-flex card card-body bg-success bg-gradient text-white text-emphasis-primary">Asignacion Semana Insumos</h2>
        </div>
        <form class="card card-body" action="{% url 'assignment_table' %}" method="get">
            <div class="row">
                <div>
                    <label for="week_number">Número de Semana:</label>
                    <input type="text" name="week_number" id="week_number" value="{{ week_number }}">
                    <button class="btn btn-success" type="submit">Mostrar Asignaciones</button>
                </div>
            </div>
        </form>
        <br>
        <div class="card card-body"> 
            {% if asignaciones_por_dia %}
            {% for day, asignaciones in asignaciones_por_dia.items %}
            <h2>{{ day.day_name }}</h2>
            <table class="custom-table" style="background-color: #f1eded;">
                <thead>
                    <tr>
                        <th>Semana </th>
                        <th>Dia de Asignación </th>
                        <th>Nombre del Operador </th>
                        <th>Unidad </th>
                        <th>Placas de unidad </th>
                        <th>Tolva </th>
                        <th>Placas de Tolva </th>
                        <th>Capacidad </th>
                        <th>Tipo de Insumo </th>
                        <th>Proveedor </th>
                        <th>Turnos </th>
                    </tr>
                </thead>
                <tbody>
                    <br>
                    {% for asignacion in asignaciones %}
                    <tr>
                        <td>{{ asignacion.week }}</td>
                        <td>{{ day.name_day }}</td>
                        <td>{{ asignacion.driver.name_driver }}</td>
                        <td>{{ asignacion.truck.truck_num }}</td>
                        <td>{{ asignacion.truck_plates.plate }}</td>
                        <td>{{ asignacion.trailer.trailer_num }}</td>
                        <td>{{ asignacion.trailer_plates.plate }}</td>
                        <td>{{ asignacion.capacity }}</td>
                        <td>{{ asignacion.type_supplie.name_supplie }}</td>
                        <td>{{ asignacion.port_supplier.port_supplier }}</td>
                        <td>{{ asignacion.turns }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endfor %}
            {% endif %}
        </div>
    </div>
    <br>
    <br>
</main>
{% endblock  %}