*{
    box-sizing: border-box;
}

.SupplieTable {
    border-collapse: collapse;
}

.SupplieTable th, .SupplieTable td {
    border: 1px solid #f2f2f2;
    padding: 8px;
    color: white;
}

/* Resaltar las filas alternas con un color de fondo */
.SupplieTable tr:nth-child(even) {
    background-color: #f9f9f9;
}

.custom-btn-width {
    width: 150px; /* Cambia este valor al ancho deseado */
}

.SupplieTable tr:nth-child(odd) {
    background-color: #fff; /* Color de fondo para filas impares */
}


.custom-table {
    border-collapse: collapse;
    width: 100%;
}

.custom-table th, .custom-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.custom-table th {
    background-color: #4CAF50;
    color: white;
}

.custom-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.custom-table tr:hover {
    background-color: #ddd;
}

.custom-table tr:nth-child(even):hover {
    background-color: #ddd;
}

.box{
    max-width: fit-content;
    max-height: fit-content;
    overflow-x: scroll;
}




/* Tabla de MCI */

.board th{
    color: white;
}

